body {
  margin: 0;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: center;
}


.App {
  background-color: rgb(253, 245, 234);
  box-shadow: 0px 0px 30px 10px #bbbebc;

}

h1 {
  font-family: 'Pacifico', cursive;
  color: rgb(61, 105, 73);
  font-size: 40px;
  letter-spacing: 3px;


}

.search {
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  padding: 12px 30px;
  box-shadow: 0px 0px 0px 2px #88bd92;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  outline:none;
  margin-top: 50px;


}

.icon {
  padding: 10px;
}

button {
  border-radius: 30px;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  color: #7a7a7a;
  margin: 0.5em;
  position: absolute;
  margin-top: 50px;
}

button:hover {
  box-shadow: 0px 0px 20px 0px #a3ea94;

}


li {
  list-style-type: none;
  font-family: 'Nunito', sans-serif;

}

h2 {
  font-family: 'Pacifico', cursive;
  color: #434242;
  padding: 20px;
  
}


.recipe-card {
  
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  background-color:  rgb(253, 245, 234); 
  border-radius: 30px;
  box-shadow: 0px 0px 30px 10px #bfc0be;

  

}


.recipe-card:hover {
  box-shadow: 10px 10px 50px 10px #97bb8f;

}


.recipes {
  max-width: 1290px;
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-left: 50px;
  gap: 2rem;
  margin-top: 20px;
  
}

.item {
  margin-left: -5px;
}

p {
  margin-bottom: 100px;
}


@media all and (max-width: 1300px) {
  video {
    width: 100%;
    height: 150vh;
  }

  .App {
    width: 110%;
  }

  .recipe-image {
    width: 200px;
  }

  .recipe-card {
    margin-right: 140px;
  
   }
}


@media all and (max-width: 900px) {
  video {
    width: 100%;
    height: 150vh;
  }

  .recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
  }

  .App {
    width: 100%;
  }
  



}

@media all and (max-width: 500px) {


  .App {
    width: 105%;
  }

  .search {
    padding: 12px 20px;
  }

  .recipe-image {
    width: 250px;
  }

  .recipes {
    width: 90%;
    
  }

.recipe-card {
  margin-right: 100px;

}


}


@media all and (max-width: 330px) {


  h1 {
    font-size: 30px;
    margin-left: 20px;
  }

  .icon {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    
  }

  .search {
    font-size: 15px;
    margin-left: -30px;
  }

  button {
    margin: 0.5em;
    margin-top: 49px;

  }

  .recipe-image {
    width: 200px;
    margin-top: -50px;
  }

  .recipes {
    width: 98%;
    

  }

  .recipe-card {
    margin-right: 130px;

  }

}


